:root {
    --body-bg: #FFFFFF;
    --body-bg-two: #FCFCFC;
    --body-bg-three: #EAEAEA;
    --button-bg: #212232;
    --footer-bg: #28293D;
    --body-color: #212232;
    --body-color-two: #FCFCFC;
    --body-color-three: #EAEAEA;
    --button-color: #FFFFFF;
    --footer-color: #EAEAEA;
    --svg-filter: invert(10%) sepia(29%) saturate(794%) hue-rotate(197deg) brightness(91%) contrast(90%);
    /* Altere as cores do bloco abaixo para combinar com a identidade visual do seu site */
    --primary-accent: #EE6593;
    --secondary-accent: #EE9665;
    --secondary-accent-light: #ee95650a;
    --main-outline: rgba(241, 169, 129, 1);
    --side-outline: rgba(238,101,147, 0.8);
    /* ------- */
}

.dark-mode:root {
    --body-bg: #212232;
    --body-bg-two: #28293D;
    --body-bg-three: #393A57;
    --body-color: #FFFFFF;
    --svg-filter: invert(99%) sepia(6%) saturate(1%) hue-rotate(3deg) brightness(105%) contrast(100%);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--body-bg);
    color: var(--body-color);
}

h1, h2, h2 *, h3, h4, h5, h6 {
    font-weight: 600;
}

::selection {
    background: var(--secondary-accent);
    color: var(--body-bg);
}

strong {
    color: var(--primary-accent);
}

.nav-item a {
    color: var(--body-color);
    font-weight: 400;
    text-decoration: none;
}

.nav-item a:hover {
    color: var(--secondary-accent);
    text-decoration: underline;
    transition: all 0.2s linear;
}

.nav-item a:focus {
    color: var(--secondary-accent);
    text-decoration: underline;
    outline: 2px solid var(--main-outline);
}

.nav-item a.active {
    color: var(--body-color) !important;
    font-weight: 600;
    text-decoration: underline;
}

main a {
    color: var(--body-color);
    font-weight: 600;
    text-decoration: underline;
}

main a:hover {
    color: var(--secondary-accent);
    transition: all 0.2s linear;
}

main a:focus {
    color: var(--secondary-accent);
    outline: 2px solid var(--main-outline);
}

footer a {
    color: var(--secondary-accent);
    text-decoration: underline;
}

footer a:hover {
    color: var(--primary-accent);
    transition: all 0.2s linear;
}

footer a:focus {
    color: var(--primary-accent);
    outline: 2px solid var(--side-outline);
}

a.skip-content {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-content:focus, a.skip-content:active {
    width: 100%;
    color: var(--body-color-two);
    background-color: var(--primary-accent);
    text-align: center;
    text-decoration: underline;
    left: auto;
    top: auto;
    height: auto;
    overflow: auto;
    text-align: center;
    z-index: 999;
}

.offcanvas {
    background-color: var(--body-bg);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon, .accordion-button::after {
    filter: var(--svg-filter);
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus, button:focus {
    box-shadow: 0 0 0 0.25rem var(--main-outline) !important;
    outline: 2px solid var(--main-outline);
}

.navbar-brand {
    color: var(--body-color);
}

button.btn-primary {
    color: var(--button-color);
    background-color: var(--button-bg);
    border-color: var(--body-color);
    border-width: 2px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    font-weight: 600;
    padding: .5rem 1.5rem;
}

button.btn-primary:hover, button.btn-primary:focus {
    color: var(--button-bg);
    background-color: var(--button-color);
    border-color: var(--button-bg);
    transition: all 0.2s linear;
}

i.gradient-icon {
    background:-moz-linear-gradient(left, var(--primary-accent) 0%, var(--secondary-accent) 100%); 
    background: -webkit-linear-gradient(left, var(--primary-accent) 0%, var(--secondary-accent) 100%); 
    background: linear-gradient(to right, var(--primary-accent) 0%, var(--secondary-accent) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}

i.solid-icon {
    color: var(--primary-accent);
}

nav button i {
    font-size: 1.2rem;
}

.header-info {
    width: 60%;
}

.header-info .accordion {
    width: 100%;
}

.header-img {
    width: 40%;
}

.header-img img {
    width: 70%; 
}

.accordion {
    --bs-accordion-color: var(--body-color);
    --bs-accordion-bg: var(--body-bg);
    --bs-accordion-active-color: var(--body-color);
    --bs-accordion-active-bg: var(--body-bg);
    --bs-accordion-btn-color: var(--body-color);
    --bs-accordion-btn-icon: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z' clip-rule='evenodd'/></svg>");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z' clip-rule='evenodd'/></svg>");
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--main-outline);
    --bs-accordion-transition: 0;
}

.accordion-button {
    font-size: 1.2rem;
}

.accordion-body {
    text-align: justify;
}

.about {
    text-align: center;
}

.line {
    display: inline-block;
    background-image: url("img/line.svg");
    background-position: 0 100%;
    background-size: 200px;
    background-repeat: no-repeat;
}

.about-text {
    width: 80%;
}

.about-img img {
    width: 80%;
}

.info-grid-item i {
    font-size: 3rem;
}

.info-grid-item {
    text-align: center;
}

.info-grid-item-title {
    width: 80%;
}

.info-grid-item-text {
    width: 95%;
}

.links-grid {
    text-align: center;
}

.links-grid-item {
    background-color: var(--body-bg-two);
    color: var(--body-color);
    border: 1px solid var(--body-bg-three);
    border-radius: 15px;
}

.links-grid-item:hover, .links-grid-item:focus {
    background-color: var(--secondary-accent-light);
    border: 1px solid var(--secondary-accent);
    transition: all 0.2s linear;
}

.links-grid-item-title {
    width: 80%;
}

.links-grid-item-text {
    width: 95%;
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 991.98px) { 
    .header-info {
        width: 100%;
    }
    
    .header-img {
       width: 100%;
    }

    .header-img img {
        width: 50%; 
    }

    .about-title {
        width: 100%;
    }

    .about-info {
        width: 100%;
    }
}

@media (min-width: 768px) { 
    .links-grid-item {
        min-height: 430px;
    }
}